.login-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.login-container h2 {
  text-align: center;
}

.login-container form {
  margin-top: 20px;
}

.login-container form div {
  margin-bottom: 20px;
}

.login-container form label {
  display: block;
  margin-bottom: 5px;
}

.login-container form input[type="email"],
.login-container form input[type="password"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 15px;
}

.login-container form input[type="email"]:focus,
.login-container form input[type="password"]:focus {
  outline: none;
  border-color: #2196f3;
}

.login-container form button {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  color: #ffffff;
  background-color: #2196f3;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login-container form button:hover {
  background-color: #1976d2;
}

.login-container p {
  text-align: center;
  margin-top: 20px;
}

.login-container p a {
  color: #2196f3;
  text-decoration: none;
}

.login-container p a:hover {
  text-decoration: underline;
}

.password-input-container {
  position: relative;
  width: 100%;
}

.password-input-container input[type="password"],
.password-input-container input[type="text"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 15px;
}

.password-toggle {
  position: absolute;
  top: 100%;
  right: 5px;
  cursor: pointer;
  color: #ccc;
}
