.login-container {
  width: 400px;
  margin: 0 auto;
  padding: 40px;
  border-radius: 20px;
  border: 2px solid #efefef;
  background: #fafafa;
}

.login-container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #35363a;
}

.login-container form {
  display: flex;
  flex-direction: column;
}

.login-container label {
  margin-bottom: 10px;
  color: #35363a;
}

.login-container input {
  padding: 10px;
  border-radius: 8px;
  border: 2px solid #eaeaea;
  background: #fafafa;
  margin-bottom: 20px;
  width: 100%; 
}

.login-container button {
  color: #ffffff;
  background: #2196f3;
  padding: 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-container button:hover {
  background-color: #1976d2;
}

.login-container button[type="button"] {
  position: right;
  top: 0%;
  transform: translateY(-67%);
  right: 5px;
  height: 80%;
  padding: 5px 10px;
  background-color: #2196f3;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

.login-container p {
  text-align: center;
  margin-top: 20px;
}

.login-container a {
  color: #2196f3;
  text-align: center;
  display: block; 
}
