.styled-table {
  width: 80%;
  margin-top: 20px;
  border-collapse: collapse;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
}

.styled-table thead tr {
  background-color: #079cb0;
  color: #ffffff;
  text-align: left;
}

.styled-table th,
.styled-table td {
  padding: 12px 15px;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:hover {
  background-color: #e0f7fa;
  cursor: pointer;
}

.centered {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.start {
  text-align: center;
}

.toggle-container {
  position: fixed;
  top: 80px;
  right: 20px;
}

.toggle-button {
  background-color: #079cb0;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
}
