.register-container,
.login-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.register-container h2,
.login-container h2 {
  text-align: center;
  color: #2196f3;
}

.register-container form,
.login-container form {
  display: flex;
  flex-direction: column;
}

.register-container form > div,
.login-container form > div {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.register-container label,
.login-container label {
  margin-right: 10px;
  width: 100px; /* Adjust label width as needed */
  color: #2196f3;
}

.register-container input,
.login-container input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.register-container .password-input,
.login-container .password-input {
  position: relative;
}

.register-container .password-input button,
.login-container .password-input button {
  background-color: #2196f3;
  padding: 8px;
  background: none;
  border: none;
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.register-container button[type="submit"],
.login-container button[type="submit"] {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #2196f3;
  color: #fff;
  cursor: pointer;
}

.register-container button[type="submit"]:hover,
.login-container button[type="submit"]:hover {
  background-color: #1976d2;
}

.register-container p,
.login-container p {
  text-align: center;
}

.register-container p a,
.login-container p a {
  color: #2196f3;
  text-decoration: none;
}

.register-container p a:hover,
.login-container p a:hover {
  text-decoration: underline;
}
