.register-container {
  width: 400px;
  margin: 0 auto;
  padding: 40px;
  border-radius: 20px;
  border: 2px solid #efefef;
  background: #fafafa;
}

.register-container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #35363a;
}

.register-container form {
  display: flex;
  flex-direction: column;
}

.register-container label {
  margin-bottom: 10px;
  color: #35363a;
}

.register-container input {
  padding: 10px;
  border-radius: 8px;
  border: 2px solid #eaeaea;
  background: #fafafa;
  margin-bottom: 20px;
  width: 100%; /* Ensure input fields take up full width */
}

.register-container button {
  background: #d81f84;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.register-container button:hover {
  background-color: #b7176d;
}

.register-container p {
  text-align: center;
  margin-top: 20px; /* Add margin to create space between register and login link */
}

.register-container a {
  color: #d81f84;
  text-align: center; /* Center the "Login" link */
  display: block; /* Ensure the link takes up the full width of the container */
}

.password-input,
.confirm-password {
  display: flex;
  align-items: center;
}

.password-input input,
.confirm-password input {
  padding: 10px;
  border-radius: 8px;
  border: 2px solid #eaeaea;
  background: #fafafa;
  margin-bottom: 20px;
  width: calc(100% - 100px); /* Adjusted width to accommodate button */
}

.password-input button,
.confirm-password button {
  background: #d81f84;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-left: 10px; /* Adjusted margin to create space between input field and button */
}

.password-input button:hover,
.confirm-password button:hover {
  background-color: #b7176d;
}
