.register-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.register-container h2 {
  text-align: center;
}

.register-container form {
  margin-top: 20px;
}

.register-container form div {
  margin-bottom: 20px; 
}

.register-container form label {
  display: block;
  margin-bottom: 5px;
}
/* .register-container form .password-input-container {
  margin-bottom: 30px; /* Increase the margin-bottom for the div containing password fields 
} */

.register-container form input[type="password"]{
  width: 100%;
  height: fit-content;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.register-container form input[type="text"],
.register-container form input[type="email"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 15px;
}

.register-container form input[type="text"]:focus,
.register-container form input[type="email"]:focus,
.register-container form input[type="password"]:focus {
  outline: none;
  border-color: #2196f3;
}

.register-container form button {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  color: #ffffff;
  background-color: #2196f3;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.register-container form button:hover {
  background-color: #1976d2;
}

.register-container p {
  text-align: center;
  margin-top: 20px;
}

.register-container p a {
  color: #2196f3;
  text-decoration: none;
}

.register-container p a:hover {
  text-decoration: underline;
}

.password-input-container {
  position: relative;
  margin-top: 15px;
}

.password-toggle {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
  color: #ccc;
}

.confirm-password {
  margin-top: 20px; 
}
