.center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.even-row {
  background-color: #f4f7f6;
}

.odd-row {
  background-color: #e9f1f4;
}

.MuiDataGrid-columnHeaderTitleContainer {
  font-size: 15px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
